
body {
    height: 100vh;
    background-image: url("https://img4.goodfon.com/wallpaper/nbig/5/a9/prazdnik-svadba-obruchalnye-koltsa-roza-lepestki-rozy.jpg");
    background-size: cover ;

}
.navtop {
    background-color: #2f3947;
    height: 60px;
    width: 100%;
    border: 0;
}
.navtop div {
    display: flex;
    margin: 0 auto;

    width: 81%;

    height: 100%;
}
.navtop div h1, .navtop div a {
    display: inline-flex;
    align-items: center;
}
.navtop div h1 {
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: #eaebed;
    font-weight: normal;
}
.navtop div h1 a {
    display: inline-flex;
    align-items: center;
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: #eaebed;
    font-weight: normal;
}
.navtop div a {
    padding: 0 20px;
    text-decoration: none;
    color: #c1c4c8;
    font-weight: bold;
}
.navtop div a i {
    padding: 2px 8px 0 0;
}
.navtop div a:hover {
    color: #eaebed;
}

.wrapper_welcome{
    width: 32%;
    background: none;
    margin: 10% auto;
    text-align: center;
    position: static;
    font-size: small;
}
.wrapper_welcome span{
    color: #2f3947;
    text-transform: uppercase;
}

.text1{
    font-size: large;
    font-size: 80px;
}

.button1{
    background-color: #2f3947;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}





